.container-planet-navigation-component {

  display: flex;
  position: sticky;
  z-index: 10;
  bottom: 10px;
  margin-right: 10px;
  justify-content: end;

  .container-grid-planet-navigation-component {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}