.container-planet-navigation-component {
  display: flex;
  position: fixed;
  z-index: 10;
  bottom: 10px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  .container-grid-planet-navigation-component {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;

    .btn-navigation {
      background-color: #fff;
      color: #333;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}